<html>
    <head>
        <tittle></tittle>
        <link rel="stylesheet"   href="../public/css/userpage.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

       
    </head>
    <body>
        <form action="/check" method="POST">
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <img src="https://media.harrypotterfanzone.com/goblet-of-fire-theatrical-poster.jpg" width="350px" height="450px"><br><br>
                <center>
                <input type="radio" id="mov" name="mov" value="Harry potter">Harry Potter
                
            </center>
              </div>
              <div class="col-sm">
                <img src="https://www.joblo.com/assets/images/oldsite/posters/images/full/wonder-woman-new-poster.jpg" width="350px" height="450px"><br><br>
                <center>
                <input type="radio" id="mov" name="mov" value="Wonder women">Wonder women
                  
                 </center>       

              </div>
              <div class="col-sm">
                <img src="https://images-na.ssl-images-amazon.com/images/I/61sJaBqGxZL._AC_SL1184_.jpg" width="350px" height="450px"><br><br>
                <center>
                <input type="radio" id="mov" name="mov" value="Lion kingdom">The LionKing
                </center>  
              </div>
            </div>
        </div>
        <center>
            <br><br><h2>No.of.seats</h2>
        <input type="radio" id="seat" name="seat" value="1">1
        <input type="radio" id="seat" name="seat" value="2">2
        <input type="radio" id="seat" name="seat" value="3">3
        <input type="radio" id="seat" name="seat" value="4">4<br>
        <button class="b1">Book Now</button> 
         </center>
        </form>
    </body>
</html>